In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import json
import os,sys
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [5]:
pd.options.display.float_format = '{:,.2f}'.format
dataset_base_dir = '../datasets/students-dataset/'
train_file = 'benchmark/dataset.csv'

In [8]:
with open(os.path.join(dataset_base_dir, train_file)) as f:
    train_df = pd.read_csv(f, low_memory=False)
    train_df = train_df.set_index('id_questionnaire')

train_df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,score_MAT,level_MAT,score_LEN,...,t_extent_of_student_involvement_during_class,t_extent_of_teaching_methods_variety,t_extent_of_opinion_on_school,t_extent_of_class_behaviour,t_extent_of_resource_variety,t_extent_of_good_work_by_non_teachers,t_number_of_individual_training_topics,t_number_of_subjects_taught,t_extent_of_satisfaction_job_and_school,t_extent_of_results_satisfaction
id_questionnaire,,,,,,,,,,,,,,,,,,,,,
1,"33,613.00",2016,3,A,"2,415.00","14,374.00",569.00,564.87,3.00,535.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"19,294.00",2016,3,A,"1,842.00","8,001.00",273.00,388.34,1.00,293.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"19,587.00",2016,3,NaN,"1,432.00","8,142.00",82.00,386.59,1.00,514.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"29,985.00",2016,3,A,"2,280.00","12,800.00",505.00,487.76,2.00,449.25,...,0.56,0.67,1.00,0.50,0.46,0.56,NaN,NaN,NaN,0.67
5,"6,982.00",2016,3,A,"2,040.00","2,606.00",390.00,709.79,4.00,598.72,...,0.67,0.73,1.00,0.83,0.62,0.89,1.00,NaN,NaN,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,"2,500.00",2019,6,B,"1,278.00",NaN,271.00,400.86,2.00,446.65,...,0.56,0.80,1.00,0.50,0.42,1.00,1.00,NaN,1.00,0.17
83854,"5,784.00",2019,6,A,"1,079.00",NaN,78.00,597.02,3.00,632.60,...,0.67,0.73,0.67,0.67,0.50,1.00,1.00,NaN,0.72,0.50
83855,"7,708.00",2019,6,X,"1,486.00","3,036.00",459.00,707.93,4.00,400.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,"18,965.00",2019,6,B,"1,036.00","9,913.00",36.00,522.85,3.00,656.16,...,0.67,0.67,0.67,0.67,0.46,0.62,3.00,NaN,0.61,0.50
83857,"7,652.00",2019,6,A,"1,173.00","5,539.00",169.00,519.12,3.00,426.19,...,0.67,0.67,0.67,0.67,0.38,0.94,2.00,NaN,0.67,0.50

In [9]:
print("Size of the dataset: ", len(train_df))
print("Number of features: ", len(train_df.columns))

Size of the dataset:  80174
Number of features:  159

In [15]:
# Get protected attribute gender
features_protected= train_df["s_gender"]
print("Features: ", features_protected)

Features:  id_questionnaire
1        FEMALE
2          MALE
3        FEMALE
4          MALE
5        FEMALE
          ...
83853    FEMALE
83854    FEMALE
83855      MALE
83856    FEMALE
83857      MALE
Name: s_gender, Length: 80174, dtype: object

In [17]:
# Distribution of the protected attribute gender
print("Distribution of the protected attribute")
print(features_protected.value_counts())
print("Percentage of the protected attribute")
print(features_protected.value_counts(normalize=True))

Distribution of the protected attribute
MALE      39343
FEMALE    37881
Name: s_gender, dtype: int64
Percentage of the protected attribute
MALE     0.51
FEMALE   0.49
Name: s_gender, dtype: float64

In [22]:
# Distribution of the protected attribute birth country 
print(train_df["s_birth_country"].isna().sum())
print(train_df["s_birth_country"].value_counts())
print(train_df["s_birth_country"].value_counts(normalize=True))

0
ESP    15731
VEN      253
ITA      153
CUB      145
COL      119
       ...
CRI        1
DNK        1
IRN        1
GEO        1
BLR        1
Name: s_birth_country, Length: 73, dtype: int64
ESP   0.91
VEN   0.01
ITA   0.01
CUB   0.01
COL   0.01
      ...
CRI   0.00
DNK   0.00
IRN   0.00
GEO   0.00
BLR   0.00
Name: s_birth_country, Length: 73, dtype: float64

In [24]:
# Drop the rows in which the protected attribute birth country is missing
train_df = train_df.dropna(subset=["s_birth_country"])
print("Size of the dataset after dropping missing values: ", len(train_df))

Size of the dataset after dropping missing values:  17313

In [27]:
# Distribution of the protected attributes gender x birth country
for country in train_df["s_birth_country"].unique():
    print("Distribution of the protected attribute gender for birth country: ", country)
    print(train_df[train_df["s_birth_country"]==country]["s_gender"].value_counts())
    print("Percentage of the protected attribute:\n", train_df[train_df["s_birth_country"]==country]["s_gender"].value_counts(normalize=True))

Distribution of the protected attribute gender for birth country:  ESP
MALE      7973
FEMALE    7758
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.51
FEMALE   0.49
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ITA
MALE      79
FEMALE    74
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.52
FEMALE   0.48
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  VEN
FEMALE    129
MALE      124
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.51
MALE     0.49
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PHL
FEMALE    8
MALE      8
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.50
MALE     0.50
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CUB
MALE      75
FEMALE    70
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.52
FEMALE   0.48
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ROU
FEMALE    18
MALE      16
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.53
MALE     0.47
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  COL
MALE      70
FEMALE    49
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.59
FEMALE   0.41
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ARG
FEMALE    44
MALE      31
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.59
MALE     0.41
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CHN
FEMALE    60
MALE      40
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.60
MALE     0.40
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  MAR
FEMALE    34
MALE      30
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.53
MALE     0.47
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  IND
MALE      6
FEMALE    3
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.67
FEMALE   0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PRT
MALE      9
FEMALE    5
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.64
FEMALE   0.36
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GBR
MALE      27
FEMALE    15
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.64
FEMALE   0.36
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  RUS
MALE      16
FEMALE    12
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.57
FEMALE   0.43
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ISL
MALE      3
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.75
FEMALE   0.25
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  DEU
MALE      16
FEMALE    12
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.57
FEMALE   0.43
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  HUN
FEMALE    5
MALE      3
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.62
MALE     0.38
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  MRT
MALE    8
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BGR
FEMALE    9
MALE      7
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.56
MALE     0.44
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  NGA
FEMALE    5
MALE      2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.71
MALE     0.29
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  DOM
FEMALE    22
MALE      18
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.55
MALE     0.45
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ETH
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CHL
FEMALE    6
MALE      4
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.60
MALE     0.40
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  LVA
FEMALE    3
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.75
MALE     0.25
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  POL
MALE      11
FEMALE     5
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.69
FEMALE   0.31
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BGD
MALE      3
FEMALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.60
FEMALE   0.40
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SVN
FEMALE    2
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.67
MALE     0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  IRL
MALE      11
FEMALE     2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.85
FEMALE   0.15
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GIN
MALE      2
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.67
FEMALE   0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  URY
MALE      27
FEMALE    21
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.56
FEMALE   0.44
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PER
FEMALE    13
MALE      11
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.54
MALE     0.46
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ECU
FEMALE    22
MALE      20
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.52
MALE     0.48
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SEN
MALE      8
FEMALE    5
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.62
FEMALE   0.38
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PAN
MALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PAK
FEMALE    2
MALE      2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.50
MALE     0.50
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SYR
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  FRA
FEMALE    7
MALE      6
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.54
MALE     0.46
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  UKR
FEMALE    4
MALE      2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.67
MALE     0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SWE
FEMALE    7
MALE      2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.78
MALE     0.22
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  USA
FEMALE    14
MALE       7
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.67
MALE     0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BEL
FEMALE    8
MALE      4
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.67
MALE     0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GNQ
FEMALE    1
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.50
MALE     0.50
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CZE
MALE      5
FEMALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.71
FEMALE   0.29
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BOL
FEMALE    23
MALE      23
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.50
MALE     0.50
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PRY
FEMALE    10
MALE       7
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.59
MALE     0.41
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CPV
FEMALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  MEX
MALE      7
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.88
FEMALE   0.12
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  NPL
FEMALE    4
MALE      3
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.57
MALE     0.43
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SLV
MALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BRA
FEMALE    13
MALE       9
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.59
MALE     0.41
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CHE
FEMALE    2
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.67
MALE     0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  NLD
MALE      4
FEMALE    3
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.57
FEMALE   0.43
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  PRI
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GTM
FEMALE    4
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.80
MALE     0.20
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BLR
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  HND
MALE      6
FEMALE    4
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.60
FEMALE   0.40
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CAN
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  SVK
FEMALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  COG
MALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  DZA
MALE      2
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.67
FEMALE   0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CRI
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  ESH
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  CMR
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  MLI
MALE      3
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.75
FEMALE   0.25
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  FIN
MALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GEO
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  DNK
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  BIH
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  LTU
MALE      2
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE     0.67
FEMALE   0.33
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  AUT
FEMALE    1
MALE      1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   0.50
MALE     0.50
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  GMB
MALE    2
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  MCO
MALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 MALE   1.00
Name: s_gender, dtype: float64
Distribution of the protected attribute gender for birth country:  IRN
FEMALE    1
Name: s_gender, dtype: int64
Percentage of the protected attribute:
 FEMALE   1.00
Name: s_gender, dtype: float64